@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Outfit', sans-serif;
  background: #f0eef1;
}

:root {
  --white: #fffbfb;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 150px;
  background-color: var(--white);
  font-size: 18px;
}

.btn {
  padding: 10px 15px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  background: #ffffff;
  color: #1a202c;
  font-family: 'Outfit', sans-serif;
}
