* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --white: #fffbfb;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--white);
}
