@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Outfit', sans-serif;
  background: #f0eef1;
}

:root {
  --white: #fffbfb;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 150px;
  background-color: var(--white);
  font-size: 18px;
}

.btn {
  padding: 10px 15px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  background: #ffffff;
  color: #1a202c;
  font-family: 'Outfit', sans-serif;
}

.btn-add {
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
  transition: filter 0.15s ease-in-out;
}

.btn-add:hover {
  filter: brightness(90%);
}

main {
  margin-top: 30px;
  padding: 20px 150px;
  display: flex;
  justify-content: center;
}

.modal {
  display: flex;
  justify-content: center;
}

.add-book-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 300px;
  align-items: center;
  padding: 20px;
}

.add-book-form button {
  width: 100%;
}

input {
  padding: 10px;
  width: 100%;
  border-radius: 8px;
}

.is-read {
  display: flex;
  align-items: center;
  width: 100%;
}

.label-read {
  width: 100%;
}
